<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="main/portfolio/cards.css">
    <link rel="stylesheet" href="main/portfolio/portfolio.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <a href="https://github.com/EthanHarsh" target="_blank"><h1><strong>GitHub</strong></h1></a>
            <a href="#portfolio"><h1><strong>Portfolio</strong></h1></a>
            <a href="#contact-me"><h1><strong>Contact</strong></h1></a>
        </nav>
        <div class="nav-holder"></div>
    </header>

    <main>
        <section class="landing">
            <div class="feature-box">
                <div class="feature-box-top">
                    <div class="feature-box-img">
                        <img src="/img/profile.jpg">
                    </div>
                    <div class="feature-box-headline">
                        <h1 class="hero-text">Hello, my name is Ethan.</h1>
                        <h2 class="hero-text">I like Mac & Cheese,</h2>
                        <h2 class="hero-text">Techno, &</h2>
                        <h2 class="hero-text">Coding.</h2>
                    </div>
                </div>

                <div class="feature-box-text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis eaque totam excepturi quia ipsa assumenda saepe. Laborum, adipisci reiciendis cum alias earum ipsa repellat quod nam eligendi itaque aliquid!</p>
                </div>

                <div class="feature-box-text right">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis eaque totam excepturi quia ipsa assumenda saepe. Laborum, adipisci reiciendis cum alias earum ipsa repellat quod nam eligendi itaque aliquid!</p>
                </div>
            </div>
        </section>

        <section class="landing">
            <div class="feature-box education">
                <div class="feature-box-top">
                    <div class="feature-box-img" id="mobile">
                        <img src="/img/osu-seal.jpg">
                    </div>
                    <div class="feature-box-headline ">
                        <h1 class="hero-text right-text">The Ohio State University</h1>
                        <h2 class="hero-text right-text">I graduated before.</h2>
                        <h2 class="hero-text right-text">Now I'm back</h2>
                        <h2 class="hero-text right-text">For more!</h2>
                    </div>
                    <div class="feature-box-img" id="desktop">
                        <img src="/img/osu-seal.jpg">
                    </div>
                </div>

                <div class="feature-box-text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis eaque totam excepturi quia ipsa assumenda saepe. Laborum, adipisci reiciendis cum alias earum ipsa repellat quod nam eligendi itaque aliquid!</p>
                </div>

                <div class="feature-box-text right">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis eaque totam excepturi quia ipsa assumenda saepe. Laborum, adipisci reiciendis cum alias earum ipsa repellat quod nam eligendi itaque aliquid!</p>
                </div>
            </div>
        </section>

        <section class="landing" id="portfolio">
            <div class="feature-box port">
                <div class="feature-box-top portfolio">
                    <div class="feature-box-headline">
                        <h1 class="hero-text right-text">Welcome to my portfolio!</h1>
                        <h2 class="hero-text right-text" id="projects">Check out my projects!</h2>
                        <p class="friendly" id="mobile">Note: Not all projects are mobile friendly!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="flexbox-wrap main-content">
            <% var project1 = projects[0].heroimg %>
            <% projects.forEach(project => { %>
                <div class="card <%= project.slug %>">
                    <style>
                        .card:first-child {
                            height: 300px;
                            width: 600px;
                            background-image: url(<%= project1 %>);
                            justify-content: space-between;
                        }
                    </style>
                    <div class="display-box">
                          <img src="<%= project.heroimg %>" alt="card-img">
                    </div>
                    <div class="info-box">
                      <h3><strong><%= project.name %></strong></h3>
                      <p><%= project.description %></p>
                    </div>
                    <a class="button repo" href="<%= project.repo %>">Git Repository</a>
                    <a class="button" href="<%= project.url %>">View Project</a>
                  </div> 
           <% }); %>
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; 2021 Ethan Harsh. All rights reserved.
        </div>
    </footer>
</body>
</html>